<div class="modal-body bg-light" id="newsForm">
    <div class="text-center container">
        <h4>Formulario de Noticia</h4>
    </div>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
        <!-- Titulo -->
        <input formControlName="title" name="title" class="form-control bg-white border-0 my-3 shadow-sm" placeholder="Titulo de la noticia" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        
        <!-- Descripción -->
        <textarea formControlName="description" name="desc" placeholder="Descripción" id="rounded" class="bg-white border-0 shadow-sm form-control mb-3" rows="7" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>

        <div class="row px-3">
            <button type="button" class="btn btn-light mr-4 shadow-sm" (click)="cancelOnClick()">
                Cancelar
            </button>
            <button type="submit" class="ml-auto btn btn-outline-success">
                Agregar
            </button>
        </div>
    </form>
</div>