<style type="text/css">
      .my-custom-scrollbar {
        position: right;
        height: 200px;
        overflow: auto;
        }
        .table-wrapper-scroll-y {
        display: block;
        }

        table .total:before {
          content: counter(rows);
        }

        body{
          counter-reset: rows;
        }

        table tbody tr {
          counter-increment: rows;
        }

</style>

<div class="modal-body bg-light">
    <div class="text-center container">
        <h4>Información del Prestamo</h4>
    </div>
    <form>
        <div>
            <!-- Nombre del solicitante -->
            <h6>Nombre del solicitante: {{auxLoan.user.name}}</h6>
            <!-- Correo-->
            <h6>Correo del solicitante: {{auxLoan.user.email}}</h6>
            <!-- Fecha de inicio -->
            <h6>Fecha de inicio: {{dateHelper.dateToStr(auxLoan.dateStart)}}</h6>
            <!-- Fecha de aprobación -->
            <h6>Fecha de aprobación: {{dateHelper.dateToStr(auxLoan.dateApproved)}}</h6>
            <!-- Fecha fin -->
            <h6>Fecha fin del prestamo: {{dateHelper.dateToStr(auxLoan.dateEnd)}}</h6>
            <!-- Link imagen del recurso-->
            <h6>Imagen de los recursos: {{auxLoan.image_resource_link}}</h6>
            <!-- Link formato del recibido-->
            <h6>Imagen del formato de recibido: {{auxLoan.image_format_link}}</h6>
            <!-- Recursos prestados-->
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Recurso</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <tr *ngFor="let recurso of resources">
                      <th><span class="total"></span></th>
                      <td>{{recurso.resource.name}}</td>
                      <td>{{recurso.quantity}}</td>
                    </tr>
                  </tbody>
                </table>
            </div><br>
            <div class="text-center container">
                <button type="button" class="btn btn-light mr-4 shadow-sm" (click)="cancelOnClick()">
                    Cerrar
                </button>
            </div>
        </div>
    </form>
</div>