<div class="modal-body bg-light pt-0" id="news-form">
    <div class="row pl-3 pt-3 shadow-sm bg-white">
        <div class="text-center">
            <h4>{{news.title}}</h4>
        </div>
    </div>
    <div class="card-img">
        <img class="card-img-top" src="https://image.shutterstock.com/z/stock-photo-fantastic-evening-panorama-of-bachalp-lake-bachalpsee-switzerland-picturesque-autumn-sunset-in-1216555750.jpg" alt="Imágen del curso">
    </div>
    <div>
        <h2>
            {{news.description}}
        </h2>
        <p>
            {{news.development}} 
        </p>
    </div>
</div>