<style type="text/css">
    .my-custom-scrollbar {
      position: right;
      height: 200px;
      overflow: auto;
      }
      .table-wrapper-scroll-y {
      display: block;
      }

      table .total:before {
        content: counter(rows);
      }

      body{
        counter-reset: rows;
      }

      table tbody tr {
        counter-increment: rows;
      }

</style>

<div class="modal-body bg-light" id="LoansForm">
    <div class="text-center container">
        <h4>Formulario de Prestamo Solicitado</h4>
    </div>
    <form  (ngSubmit)="onSubmit()">
    

        <!-- Nombre del solicitante -->
        <div class="form-group mt-3">
            <label>Nombre del solicitante</label>
            <input name="name" class="form-control border-0 mb-3" placeholder="{{auxLoan.user.name}}" type="text" readonly>
        </div>
        <!-- Fecha de solicitud-->
        <div class="form-group mt-3">
            <label>Fecha de solicitud</label>
            <input name="name" class="form-control border-0 mb-3" placeholder="{{dateHelper.dateToStr(auxLoan.dateStart)}}" type="text" readonly>
        </div>

        <!-- Fecha Fin -->
        <div class="input-group">
            <input [formControl]="dateEnd" type="text" class="form-control shadow-sm bg-white border-0 inner-shadow" placeholder="Fecha Fin del Prestamo" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker" readonly required>
            <div class="input-group-append">
                <button class="btn btn-light shadow-sm rounded-circle ml-2" (click)="d1.toggle()" type="button">
                    <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </button>
            </div>
        </div><br>
        

        <!-- Subir imagen del recurso-->
        <div class="custom-file mt-3 was-validated">
            <input [formControl]="imgResource" type="file" style="border-radius: 0px;" class="custom-file-input" id="validatedCustomFile" required>
            <label style="border-radius: 0px;" class="custom-file-label text-muted" for="validatedCustomFile">Seleccione imagen del recurso...</label>
            <div class="invalid-feedback">Selecciona la imagen de los recursos</div>
        </div>

        <!-- Subir imagen del formato-->
        <div class="custom-file mt-3 was-validated">
            <input [formControl]="imgFormat" type="file" style="border-radius: 0px;" class="custom-file-input" id="validatedCustomFile">
            <label style="border-radius: 0px;" class="custom-file-label text-muted" for="validatedCustomFile">Selecciona la imagen del formato...</label>
            <div class="invalid-feedback">Selecciona la imagen del formato</div>
        </div>

        <!-- Recursos prestados-->
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recurso</th>
                    <th scope="col">Cantidad</th>
                </tr>
                </thead>
                <tbody> 
                
                <tr *ngFor="let recurso of resources">
                    <th><span class="total"></span></th>
                    <td>{{recurso.resource.name}}</td>
                    <td>{{recurso.quantity}}</td>
                </tr>
                </tbody>
            </table>
        </div><br>
        
        <div class="row px-3">
            <button type="button" class="btn btn-light mr-4 shadow-sm" (click)="cancelOnClick()">
                Cancelar
            </button>
            <button type="button" class="ml-auto btn btn-outline-danger" (click)="deleteOnClick(auxLoan.loanId)">
                Eliminar
            </button>
            <button type="submit" class="ml-auto btn btn-success">
                Aprobar
            </button>
        </div>
    </form>
</div>