<div class="container col-12">
    <!-- Título -->
    <div class="text-center mt-5">
        <h2>Noticias</h2>
        <!-- En caso de que no hayan noticias -->
        <p class="text-muted" *ngIf="!weHaveNews">En el momento no tenemos Noticias disponibles</p>
    </div>
    <div class="row justify-content-center" *ngIf="weHaveNews">
      <ngb-carousel >
        <ng-template ngbSlide *ngFor="let news_one of some_news" >
          <div (click)="ShowNews(news_one.id)">  
          <div class="picsum-img-wrapper">
            <img src="https://previews.123rf.com/images/stevanovicigor/stevanovicigor1512/stevanovicigor151200259/50260323-old-book-wooden-library-desk-retro-toned-image-selective-focus.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>{{news_one.title}}</h3>
            <p>{{news_one.getDescPreview()}}</p>
          </div>
        </div>
        </ng-template>
      </ngb-carousel>
    </div>
</div>

