<div class="container bg-light big-container">
    <h3 class="mt-3">Cursos</h3>
    <div class="container text-center">
        <button class="btn btn-success mb-2 shadow rounded-circle" style="font-size: 20px;" (click)="addOnClick()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
    <!-- Cursos -->
    <div class="row">
        <div class="container col-md-4 mt-5 mx-0" *ngFor="let course of courses">
            <div class="card border-0 shadow-sm pb-2">
                <div class="card-img">
                    <img class="card-img-top shadow-sm" src="https://image.shutterstock.com/z/stock-photo-fantastic-evening-panorama-of-bachalp-lake-bachalpsee-switzerland-picturesque-autumn-sunset-in-1216555750.jpg" alt="Imágen del curso">
                </div>
                <div class="card-body text-center pt-0 pb-0">
                    <h5 class="card-title">{{course.name}}</h5>
                </div>
                <div class="container text-center">
                    <button class="btn mr-3 rounded-circle shadow-sm" (click)="showOnClick(course.id)">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button class="btn shadow-sm rounded-circle" (click)="deleteOnClick(course.id)">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="container">
            <p *ngIf="!weHaveCourses" class="text-center" id="weDontHaveCourses">
                No existen cursos actualmente
            </p>
        </div>
    </div>
</div>