<div class="container col-12">
    <!-- Título -->
    <div class="text-center mt-5">
        <h2>Integrantes del Semillero</h2>
        <!-- En caso de que no hayan integrantes -->
        <p class="text-muted" *ngIf="!weHaveMembers">En el momento no tenemos integrantes</p>
    </div>
    <div class="row">
        <!-- Cartas de los integrantes -->
        <div class="col-md-6 mt-3 mb-3 mx-auto" *ngFor="let member of members">
            <div class="card shadow-sm btn p-0 btn-light border-0">
                <div class="card-body text-justify pb-0">
                    <p>Nombre: {{member.name}}</p>
                    <p>Email: {{member.email}}</p>
                    <p>Teléfono: {{member.phone}}</p>
                    <p>Fecha de nacimiento: {{member.birth_date | date:'yyyy-MM-dd'}}</p>
                    <p>Programa: {{member.career}}</p>
                    <p *ngIf="member.student">Semestre: {{member.semester}}</p>
                    <!--<div clas="text-center">
                        <button style="background-color: rgb(12, 122, 12);" class="col-12 btn btn-primary shadow-sm">
                            Aceptar
                        </button>
                        <button style="background-color: rgb(172, 10, 10);" class="col-12 btn btn-primary shadow-sm">
                            Eliminar
                        </button>
                    </div>-->
                </div>
        </div>
    </div>
</div>
