<nav class="navbar navbar-expand-md navbar-dark bg-primary col-12">
  <!-- Logo -->
  <a class="navbar-brand" href="#">
      <img src="" width="30" height="30" class="mx-auto d-inline-block align-top" alt="Logo">
      Semillero
  </a>
  <!-- Menú Hamburguesa -->
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <!-- Incio -->
      <li *ngIf="homeActiveRoute" class="nav-item active mx-auto">
        <a class="nav-link" href="home">Inicio</a>
      </li>
      <li *ngIf="!homeActiveRoute" class="nav-item mx-auto">
        <a class="nav-link" href="home">Inicio</a>
      </li>
      <!-- Nosotros -->
      <li *ngIf="aboutActiveRoute" class="nav-item active mx-auto">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li *ngIf="!aboutActiveRoute" class="nav-item mx-auto">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <!-- Contacto -->
      <li *ngIf="contactActiveRoute" class="nav-item active mx-auto">
        <a class="nav-link" href="contact">Contacto</a>
      </li>
      <li *ngIf="!contactActiveRoute" class="nav-item mx-auto">
        <a class="nav-link" href="contact">Contacto</a>
      </li>
      <!-- Recursos -->
      <div *ngIf="loggedIn" class="mx-auto">
        <li *ngIf="resourceActiveRoute" class="nav-item active">
          <a class="nav-link" href="resource">Recursos</a>
        </li>
        <li *ngIf="!resourceActiveRoute" class="nav-item">
          <a class="nav-link" href="resource">Recursos</a>
        </li>
      </div>
    </ul>
    <!-- Cuando no hay una sesión iniciada -->
    <form class="form-inline mt-2 mt-md-0" *ngIf="!loggedIn">
      <div class="pr-2 mx-auto">
        <button class="btn btn-success my-2 my-sm-0" (click)="signupOnClick()">Registrarse</button>
      </div>
      <button class="btn btn-primary shadow my-2 my-sm-0 mx-auto" (click)="loginOnClick()">Iniciar Sesión</button>
    </form>
    <!-- Cuando hay una sesión iniciada -->
    <form class="form-inline mt-2 mt-md-0 pr-2" *ngIf="loggedIn">
      <div ngbDropdown class="shadow mx-auto">
        <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Aquí debería ir el nombre</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="logoutOnClick()">Cerrar Sesión</button>
        </div>
      </div>
    </form>
  </div>
</nav>